
BODY
{
	FONT-SIZE: 10pt;
	 FONT-FAMILY: Arial;
	 BACKGROUND-COLOR: #d5311d
}

.Header
{
	PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px;
	 PADDING-BOTTOM: 5px;
	 COLOR: #04181b;
	 PADDING-TOP: 5px;
	 BACKGROUND-COLOR: #1dc1d5
}

.sidebar
{
	PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px;
	 PADDING-BOTTOM: 5px;
	 COLOR: #000202;
	 PADDING-TOP: 5px;
	 BACKGROUND-COLOR: #1aaabc
}

.content
{
	PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px;
	 PADDING-BOTTOM: 5px;
	 COLOR: #555555;
	 PADDING-TOP: 5px;
	 BACKGROUND-COLOR: #d5d5d5
}

.content A
{
	COLOR: #3c3c3c
}

.content TD
{
	COLOR: #555555;
	 BACKGROUND-COLOR: #d5d5d5
}

.content A:hover
{
	COLOR: #888888
}

.content HR
{
	COLOR: #3c3c3c;
	 HEIGHT: 1px
}

.content B
{
	COLOR: #6f6f6f
}

.content H1
{
	COLOR: #6f6f6f
}

.content H2
{
	COLOR: #6f6f6f
}

.content H3
{
	COLOR: #6f6f6f
}

.content H4
{
	COLOR: #6f6f6f
}

.content H5
{
	COLOR: #6f6f6f
}

.content H6
{
	COLOR: #6f6f6f
}

.content .note
{
	BORDER-RIGHT: #c3c3c3 1px solid;
	 BORDER-TOP: #c3c3c3 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #c3c3c3 1px solid;
	 COLOR: #555555;
	 BORDER-BOTTOM: #c3c3c3 1px solid;
	 BACKGROUND-COLOR: #cdcdcd
}

.content .note TD
{
	BORDER-RIGHT: #c3c3c3 1px solid;
	 BORDER-TOP: #c3c3c3 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #c3c3c3 1px solid;
	 COLOR: #555555;
	 BORDER-BOTTOM: #c3c3c3 1px solid;
	 BACKGROUND-COLOR: #cdcdcd
}

.header TD
{
	COLOR: #04181b;
	 BACKGROUND-COLOR: #1dc1d5
}

.header A
{
	COLOR: #ffffff
}

.header A:hover
{
	COLOR: #0e5b65
}

.header HR
{
	COLOR: #ffffff;
	 HEIGHT: 1px
}

.header B
{
	COLOR: #09393f
}

.header H1
{
	COLOR: #09393f
}

.header H2
{
	COLOR: #09393f
}

.header H3
{
	COLOR: #09393f
}

.header H4
{
	COLOR: #09393f
}

.header H5
{
	COLOR: #09393f
}

.header H6
{
	COLOR: #09393f
}

.header .note
{
	BORDER-RIGHT: #19a8b9 1px solid;
	 BORDER-TOP: #19a8b9 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #19a8b9 1px solid;
	 COLOR: #04181b;
	 BORDER-BOTTOM: #19a8b9 1px solid;
	 BACKGROUND-COLOR: #1cbacd
}

.header .note TD
{
	BORDER-RIGHT: #19a8b9 1px solid;
	 BORDER-TOP: #19a8b9 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #19a8b9 1px solid;
	 COLOR: #04181b;
	 BORDER-BOTTOM: #19a8b9 1px solid;
	 BACKGROUND-COLOR: #1cbacd
}

.sidebar TD
{
	COLOR: #000202;
	 BACKGROUND-COLOR: #1aaabc
}

.sidebar A
{
	COLOR: #ffffff
}

.sidebar A:hover
{
	COLOR: #0a454c
}

.sidebar HR
{
	COLOR: #ffffff;
	 HEIGHT: 1px
}

.sidebar B
{
	COLOR: #052226
}

.sidebar H1
{
	COLOR: #052226
}

.sidebar H2
{
	COLOR: #052226
}

.sidebar H3
{
	COLOR: #052226
}

.sidebar H4
{
	COLOR: #052226
}

.sidebar H5
{
	COLOR: #052226
}

.sidebar H6
{
	COLOR: #052226
}

.sidebar .note
{
	BORDER-RIGHT: #1691a0 1px solid;
	 BORDER-TOP: #1691a0 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #1691a0 1px solid;
	 COLOR: #000202;
	 BORDER-BOTTOM: #1691a0 1px solid;
	 BACKGROUND-COLOR: #19a3b4
}

.sidebar .note TD
{
	BORDER-RIGHT: #1691a0 1px solid;
	 BORDER-TOP: #1691a0 1px solid;
	 FONT-SIZE: 0.8em;
	 BORDER-LEFT: #1691a0 1px solid;
	 COLOR: #000202;
	 BORDER-BOTTOM: #1691a0 1px solid;
	 BACKGROUND-COLOR: #19a3b4
}

TD
{
	FONT-SIZE: 10pt;
	 VERTICAL-ALIGN: top;
	 FONT-FAMILY: Arial
}

.MainTable
{
	WIDTH: 640px;
	 BACKGROUND-COLOR: #000000
}

.SampleBox
{
	BORDER-RIGHT: black 1px solid;
	 BORDER-TOP: black 1px solid;
	 OVERFLOW: hidden;
	 BORDER-LEFT: black 1px solid;
	 WIDTH: 13px;
	 CURSOR: hand;
	 BORDER-BOTTOM: black 1px solid;
	 HEIGHT: 13px
}
