<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Visual SourceSafe Monitor - Daily Report</title>
</head>
<body>
<TABLE id="Table1" cellSpacing="1" cellPadding="10" width="100%" bgColor="#000066" border="0">
<TR>
<TD vAlign="top" width="467"><FONT face="Verdana"></FONT><FONT face="Verdana" color="#ffff00" size="6"><FONT color="#ffff00">Visual 
SourceSafe Monitor<BR>
</FONT><FONT color="#cccccc" size="3">Daily Activity Report</FONT></FONT>
</TD>
<TD vAlign="bottom" align="right"><FONT face="Verdana" size="2"><FONT color="olive"><FONT color="moccasin" size="1">A 
service authored by</FONT> </FONT></FONT><a style="COLOR: white" href="http://www.lewismoten.com">
<FONT size="1">Lewis&nbsp;Moten</FONT></a></TD>
</TR>
</TABLE>
<P><font face="Verdana">The following modifications have been detected 
today.  Please update your local copy.</font></P>
<TABLE id="Table2" cellSpacing="0" cellPadding="0" width="100%" border="0">
<TR>
<TD bgColor="#000066" height="32">
<P align="center"><STRONG><FONT face="Verdana" color="#cccccc">User</FONT></STRONG></P>
</TD>
<TD bgColor="#000066" height="32">
<P align="center"><STRONG><FONT face="Verdana" color="#cccccc">Event</FONT></STRONG></P>
</TD>
<TD bgColor="#000066" height="32">
<P align="center"><STRONG><FONT face="Verdana" color="#cccccc">Action</FONT></STRONG></P>
</TD>
<TD bgColor="#000066" height="32">
<P align="center"><STRONG><FONT face="Verdana" color="#cccccc">Time</FONT></STRONG></P>
</TD>
</TR>